<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="footer">
    <div id="footer">
    <div class="footer">
        <div class="footer_cs">
            <ul>
                <li class="left">Customer Center</li>
                <li class="right">
                    <span>010-1234-5678<br>
                        Mon-Fri : 10ap - 5pm<br>
                        Lunch : 12:00 pm - 1:30 pm<br><br>

                        농협 0000-000-000000 <br>
                        Account holder : 전승현
                    </span>
                </li>
            </ul>
        </div>
        <div class="shop_info">
            <ul>
                <li class="left">

                    Company : THE BLUES　CEO CFO : 전승현
                    <br>
                    Address : 대구광역시
                    <br>
                    Business license : 000-00-00000　Mall-order license : 2024-OOOO-0000
                    <br>
                    Email : jjsh0208@gmail.com
                </li>
            </ul>
        </div>
    </div>
    </div>
</th:block>
</body>
</html>