<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>The Blues</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>
<body>
    <div class="main-container">
        <!-- left menu -->
        <th:block th:replace="/layouts/leftMenu :: leftMenu"></th:block>
        <!-- main contents -->
        <div class="contents">
           <ul class="product_list">
                <li class="box xans-record">
                    <div class="thumbnail">
                        <a th:href="@{#}">
                            <img th:src="@{/product_img/top.png}" class="thumbs">
                        </a>
                    </div>
                    <div class="item_info">
                        <ul class="name">
                            <li class="left">
                                <a th:href="@{#}">
                                    <span>coco hoodie cap windbreaker (3color)</span>
                                </a>
                            </li>
                            <li class="right">
                                36,000
                            </li>
                        </ul>

                    </div>
                </li>
               <li class="box xans-record">
                   <div class="thumbnail">
                       <a th:href="@{#}">
                           <img th:src="@{/product_img/top.png}" class="thumbs">
                       </a>
                   </div>
                   <div class="item_info">
                       <ul class="name">
                           <li class="left">
                               <a th:href="@{#}">
                                   <span>coco hoodie cap windbreaker (3color)</span>
                               </a>
                           </li>
                           <li class="right">
                               36,000
                           </li>
                       </ul>

                   </div>
               </li>
               <li class="box xans-record">
                   <div class="thumbnail">
                       <a th:href="@{#}">
                           <img th:src="@{/product_img/top.png}" class="thumbs">
                       </a>
                   </div>
                   <div class="item_info">
                       <ul class="name">
                           <li class="left">
                               <a th:href="@{#}">
                                   <span>coco hoodie cap windbreaker (3color)</span>
                               </a>
                           </li>
                           <li class="right">
                               36,000
                           </li>
                       </ul>

                   </div>
               </li>
           </ul>
            <!-- footer-->
            <th:block th:replace="/layouts/footer :: footer"></th:block>
        </div>
    </div>

<script th:src="@{/javaScript/toggle.js}"></script>
</body>
</html>