<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="leftMenu">
        <div class="left-Menu">
            <ul class="logo">
                <a th:href="@{#}">THE BLUES</a>
            </ul>
            <ul class="xans-record">
                <li><a th:href="@{#}">THE BLUES [MADE]</a></li>
                <li><a th:href="@{#}">NEW 5%</a></li>
                <li><a th:href="@{#}">BEST 30</a></li>
                <li><a th:href="@{#}">OUTWEAR</a></li>
                <li><a th:href="@{#}">TOP</a></li>
                <li><a th:href="@{#}">BOTTOM</a></li>
                <li><a th:href="@{#}">ACC</a></li>
                <li><a th:href="@{#}">당일출고</a></li>
            </ul>
            <ul class="drop_menu">
                <li>
                    <p class="Board_active">Board</p>
                    <div class="tab_wrap">
                        <ul>
                            <li><a th:href="@{#}">Notice</a></li>
                            <li><a th:href="@{#}">Q&A</a></li>
                            <li><a th:href="@{#}">Review</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <p class="Membership_active">Membership</p>
                    <div class="tab_wrap">
                        <ul>
                            <li><a th:href="@{/members/login}">Login</a></li>
                            <li><a th:href="@{/members/new}">Register</a></li>
                            <li><a th:href="@{#}">Order tracking</a></li>
                            <li><a th:href="@{#}">My account</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
</th:block>
</body>
</html>