p{
    margin: 0;
    padding: 0;
}

.xans-member-join{
    font-size: 11px;
}

.xans-member-join{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.xans-member-join p.text_guide {
    display: block;
    margin-top: 2px;
    color: #999;
}
.agreeArea_wrap {
     width: 100%;
    margin-top: 10px;
}


.ec-base-table table{
    position: relative;
    border-left: 0px;
    border-right: 0px;
    border-collapse: collapse;
    margin: 10px 0 0;
    border: 1px solid #d7d5d5;
    border-left-color: #fff;
    border-right-color: #fff;
    line-height: 1.5;
    width: 100%;
}

.ec-base-table th {
    color: #777;
    font-size: 11px;
    line-height: 30px;
    text-align: left;
}

.ec-base-table td{
    border: 0;
    border-bottom: 1px solid #ddd;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    vertical-align: middle;
    padding: 8px 10px 7px;
}

.xans-member-join .ec-base-table select, .xans-member-join .ec-base-table input   {
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #888;
    width: 100%;
    line-height: 28px;
    height: 30px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.xans-member-join #mobile1{
    width: 60px;
    margin: 0 4px 0 0;
}

.xans-member-join #mobile2,
.xans-member-join #mobile3{
    width: 50px;
    margin: 0 4px;
}

.xans-member-join .ec-base-table input[type=checkbox]{
    width:  auto;
    height: auto;
}

input[id="is_sms"],
input[id="is_news_mail"],
input[id="agree_service_check"],
input[id="agree_privacy_check"]{
    position: relative;
    top: 1.5px;
}

label[for="is_sms"],
label[for="is_news_mail"],
label[for="agree_service_check"],
label[for="agree_privacy_check"]{
    position: relative;
    top: -1.5px;
}

input[type=checkbox] + label {
    margin: 0 4px 0 2px;
}

.agreeArea_wrap{
    margin-top: 10px;
}

.agreeArea_wrap .left{
    float: left;
    width: 49%;
    padding: 0;
}

.agreeArea_wrap .right{
    float: right;
    width: 49%;
    padding: 0;
}


.agreeArea {
    color: #747474;
    font-size: 11px;
    line-height: 20px;
}
.agreeArea .agree {
    overflow: auto;
    height: 110px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
}
.xans-member-join .agreeArea .check {
    padding: 10px;
    color: #202020;
    font-size: 12px;
    border: 1px solid #ddd;
    border-top: 0px;
}

.text-button-center {
    text-align: center;
    margin-top: 230px;
}

.register_btn{
    display: block;
    line-height: 40px;
    width: 100%;
    border: 1px solid #000;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
